html, body {margin:0; padding:0; width:100%; height:100%;}
body{font:normal 12px/1 Arial, Helvetica, "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#fff; background-color:#050505; overflow:hidden;
background: -webkit-radial-gradient(50% 50%, circle cover, #0a1833, #050505); /* Safari 5.1+, Chrome 10+ */ 
background: -moz-radial-gradient(50% 50%, circle cover, #0a1833, #050505); /* Firefox 3.6+ */
background: -ms-radial-gradient(50% 50%, circle cover, #0a1833, #050505); /* IE 10 */ 
}
img{border:none;margin:0;padding:0;}

canvas{float:left; width:100%; height:100%;}
#viewcanvas {position:absolute;top:0;left:0;z-index:110000;}
#frontcanvas{position:absolute;top:0;left:0;z-index:-2;}

@font-face {
font-family: 'extravaganzzaBold';
src: url('../extravaganzza/extravaganzza-extra-bold-webfont.eot');
src: url('../extravaganzza/extravaganzza-extra-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../extravaganzza/extravaganzza-extra-bold-webfont.woff') format('woff'),
     url('../extravaganzza/extravaganzza-extra-bold-webfont.ttf') format('truetype'),
     url('../extravaganzza/extravaganzza-extra-bold-webfont.svg#extravaganzzaBold') format('svg');
font-weight: normal; font-style: normal;
}
@font-face {
font-family: 'extravaganzza';
src: url('../extravaganzza/extravaganzza-webfont.eot');
src: url('../extravaganzza/extravaganzza-webfont.eot?#iefix') format('embedded-opentype'),
     url('../extravaganzza/extravaganzza-webfont.woff') format('woff'),
     url('../extravaganzza/extravaganzza-webfont.ttf') format('truetype'),
     url('../extravaganzza/extravaganzza-webfont.svg#extravaganzzaBold') format('svg');
font-weight: normal; font-style: normal;
}

/* INDEX 1140css framework */
.container {padding-left:20px; padding-right:20px;}
.row {width:100%; max-width:1140px; min-width:755px; margin:0 auto; overflow:hidden;}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol { margin-right:3.8%; float:left; min-height:1px;}
.row .onecol {width:4.85%;}
.row .twocol {width:13.45%;}
.row .threecol {width:22.05%;}
.row .fourcol {width:30.75%;}
.row .fivecol {width:39.45%;}
.row .sixcol {width:48%;}
.row .sevencol {width:56.75%;}
.row .eightcol {width:65.4%;}
.row .ninecol {width:74.05%;}
.row .tencol {width:82.7%;}
.row .elevencol {width:91.35%;}
.row .twelvecol {width:100%; float:left;}
.last {margin-right: 0px;}

/* === MAP CONTAINER === */
#mapcontainer {width:100%;height:100%;cursor:move;margin:0 auto;overflow:hidden;position:relative;z-index:100000;display:none;}
#map-1000 {background:url('../images/map-1000.png') no-repeat center center;width:100%;height:100%;}
#map-2000 {width:2000px;height:1007px;}
#map-4000 {width:4000px;height:2014px;}
#map-16000 {width:16000px;height:8056px;}
#map-16000 img {width:16000px;height:8056px;}

/* === MAINBAR === */
#mainbar {background:#000 url('../images/mainbar-bg.png') repeat-x top; width:100%; height:60px; min-width:970px; display:inline; opacity:0.94; border-top:1px solid #000;border-bottom:1px solid #000; position:absolute; bottom:0; left:0; z-index:4000000;}
#mainbar div{position:absolute;}

#mainbar #logo {left:34px; bottom:-3px;}
#mainbar #mainicon    {width:22px; height:22px; bottom:19px; left:12px; background:url('../images/icon-main.gif');}
#mainbar #mainloading {width:22px; height:22px; bottom:19px; left:12px; background:url('../images/icon-main-loading.gif');}

#mainbar em {position:absolute;font-style:normal;text-align:right;color:#fff;}
#mainbar em#magnitude{font-size:48px;right:66px; top:4px;}
#mainbar em#tectonic,em#volcanoes {font-size:14px;right:7px; top:6px; width:28px; padding-left:16px; color:#40a7a4; text-align:left; background:url('../images/mainbar-icon-tect.gif') no-repeat left 3px;}
#mainbar em#volcanoes {background:url('../images/mainbar-icon-volc.png') no-repeat left 4px;}
#mainbar em#tectonic span:last-child,#mainbar em#volcanoes span:last-child {display:none;}
#mainbar em#depth			{font-size:18px;right:27px;top:29px; width:65px; color:#999;}
#mainbar em#depthunit {font-size:12px;right:9px; top:35px; width:20px; color:#666;}
#mainbar em#time			{font-size:21px;right:9px; top:25px;width:80px; color:#f0e079;/* background:url('../images/mainbar-icon-time.gif') no-repeat left 8px;*/}
#mainbar em#date			{font-size:15px;right:9px; top:6px; width:78px; color:#666;}
#mainbar em span#utc  {font-size:10px; padding-right:4px; color:rgba(240,224,121,0.4);}
#mainbar em#region		{font-size:15px;right:9px; top:6px; width:256px;}
#mainbar em#latlon		{font-size:21px;right:9px; top:25px;width:256px;color:#333;}

.i4,.i5,.i6,.i7 {height:5px; left:0; opacity:0.4}
.i4 {top:38px; background:#a3cc29; width:18px;}
.i5 {top:29px; background:#ffe24d; width:18px;}
.i6 {top:20px; background:#cc671f; width:18px;}
.i7 {top:11px; background:#b30000; width:18px;}
.isel {width:26px; opacity:1;}

/* ===== NAVI ==== */
ul#navi {margin:22px 0 0 142px; width:320px; font-family:'extravaganzzaBold'; font-size:16px;}
ul#navi li{display:inline;margin:0 0 0 8px;padding:6px 10px;text-align:center;display:inline;list-style-type:none;text-decoration:none;}
ul#navi li:hover{text-shadow:#ddd 0px 0px 4px; background:rgba(255,255,255,0.1); cursor:pointer;}
ul#navi li.selected {background:rgba(255,255,255,0.1);}
#mainbarinfo {background:rgba(0,68,204,0.1); width:100%; height:auto; padding:14px; position:absolute; bottom:60px; left:0; z-index:3800000; font-size:14px;}

#mag1	{right:387px;top:3px; width:170px;height:54px;background:url('../images/mainbar-bg-big.png') no-repeat top left;}
#mag2	{right:-10px;top:0px; width:170px;height:54px;background:url('../images/mainbar-bg-big.png') no-repeat top right;}
#tec1	{right:569px;top:3px; width:48px; height:26px;background:url('../images/mainbar-bg-small.png') no-repeat top left;}
#tec2	{right:-10px;top:0px; width:48px; height:26px;background:url('../images/mainbar-bg-small.png') no-repeat top right;}
#vol1	{right:569px;top:31px;width:48px; height:26px;background:url('../images/mainbar-bg-small.png') no-repeat top left;}
#vol2	{right:-10px;top:0px; width:48px; height:26px;background:url('../images/mainbar-bg-small.png') no-repeat top right;}
#tim1	{right:285px;top:3px; width:90px;height:54px;background:url('../images/mainbar-bg-big.png') no-repeat top left;}
#tim2	{right:-10px;top:0px; width:90px;height:54px;background:url('../images/mainbar-bg-big.png') no-repeat top right;}
#loc1	{right: 13px;top:3px; width:260px;height:54px;background:url('../images/mainbar-bg-big.png') no-repeat top left;}
#loc2	{right:-10px;top:0px; width:260px;height:54px;background:url('../images/mainbar-bg-big.png') no-repeat top right;}


/* ==== SIDEBAR ==== */
#sidebar, #eqrawdata {position:absolute; right:0; top:0; overflow:scroll; z-index:3200000; height:100%; background:#1f1f1f; opacity:0.95; border-left:1px solid #262626; border-right:1px solid #000;}
#sidebar em {font-style:normal;}
#sidebar ul, #eqrawdata ul {list-style-type:none; margin:0; padding:5px 0 50px 10px;}
#sidebar ul li {color:#777; padding:12px 120px 12px 25px; background:url('../images/sidebar-bg.png') no-repeat -1px bottom;}
#sidebar ul li:hover, #sidebar ul li.selected {background:url('../images/sidebar-sel-bg.png') no-repeat left center; color:#ddd; cursor:pointer;}
#sidebar {text-transform:uppercase;}
#sidebar ul li em.count, #sidebar ul li em.loading {float:right; margin-right:-100px; text-align:right; color:#444;}
#sidebar ul li em.loading {background:url('../images/loading-sidebar.gif');width:18px;height:10px;}
#eqrawdata ul li {padding:5px 25px; background:none;}
#eqrawdata ul li:hover {color:#ccc; background:none; cursor:pointer;}
#eqrawdata ul li:first-child {opacity:0.5;}
#eqrawdata ul li.rawselected {color:#e573ac;}
ul.ulmagnitude {padding-bottom:10px;}

#sidebar ul li:first-child {color:#f0e079;}
#sidebar ul li:first-child:hover {background:url('../images/sidebar-bg.png') no-repeat left bottom; cursor:default;}
#sidebar .year {color:#999;}
#sidebar em.time {color:#f0e079;}
#sidebar em.high {color:#f66;}
#sidebar em.var {visibility:hidden;}
#sidebar em.type {visibility:hidden;}
.siderbar .highlight {color:#e573ac;text-decoration: underline;}

#bringsidebarhandle {position:absolute; right:0; top:50%; margin-top:-70px; background:url('../images/icon-filter2.png') no-repeat left center; width:41px; height:100px; z-index:3110000;}
#bringsidebarborder {position:absolute; right:0; top:0; height:100%; width:5px; background:#1f1f1f; border-left:1px solid #262626; z-index:3100000;}

.circ_eq4, .circ_eq5, .circ_eq6, .circ_eq7 {color:#04c;float:left;}
.circ_eq4 {margin:2px 10px 0 6px;font-size:8px;}
.circ_eq5 {margin:-2px 10px 0 4px;font-size:16px;}
.circ_eq6 {margin:-6px 10px 0 2px;font-size:24px;}
.circ_eq7 {margin:-10px 10px 0 0;font-size:32px;}

/* ==== TEXT + OTHER ==== */
a{color:#B9AD4E;text-decoration:none;border:none;}
a:hover{color:#fe6;}
a:active{border:none;}
img{border:none;}


/* ===== CONTROL BUTTONS ==== */
#controlbuttons {position:absolute; z-index:2099000; width:44px; height:66px; right:-4px; top:6px; background:#1f1f1f; border:1px solid #262626;}
#controlbuttons div {position:absolute; width:28px; height:28px; right:12px; top:4px;}
#controlbuttons div#b-zoom-in  {background:url('../images/button-zoom-in.png') no-repeat top; display:none;}
#controlbuttons div#b-zoom-out {background:url('../images/button-zoom-out.png') no-repeat top; top:34px; display:none;}
#controlbuttons div#b-left  {background:url('../images/button-arrow-left.png') no-repeat top;}
#controlbuttons div#b-right {background:url('../images/button-arrow-right.png') no-repeat top; top:34px;}
#controlbuttons div#b-up   {background:url('../images/button-arrow-up.png') no-repeat top; display:none;}
#controlbuttons div#b-down {background:url('../images/button-arrow-down.png') no-repeat top; top:34px; display:none;}
#controlbuttons div:hover {cursor:pointer;}
#controlbuttons div#b-zoom-in:hover {background:url('../images/button-zoom-in.png') no-repeat bottom;}
#controlbuttons div#b-zoom-out:hover {background:url('../images/button-zoom-out.png') no-repeat bottom;}
#controlbuttons div#b-left:hover {background:url('../images/button-arrow-left.png') no-repeat bottom;}
#controlbuttons div#b-right:hover {background:url('../images/button-arrow-right.png') no-repeat bottom;}
#controlbuttons div#b-up:hover {background:url('../images/button-arrow-up.png') no-repeat bottom;}
#controlbuttons div#b-down:hover {background:url('../images/button-arrow-down.png') no-repeat bottom;}

.rc, #navi li{-moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px;}

.disable{opacity:0.2;}
.disable:hover{cursor:default;}


/* ===== INTRO ==== */
#intro {width:100%; height:100%; background:rgba(0,0,0,0.4); top:0; left:0; position:absolute; z-index:3300000;}
	#intro-container img#beginning-middle {position:absolute; z-index:5000000; top:50%; left:50%; margin:-145px 0 0 -130px;}
	#intro-container img#beginning-corner {position:absolute; z-index:5000000; bottom:80px; right:250px;}
	#intro-container #tryagain {position:absolute; z-index:5000000; top:50%; left:50%; margin:0 0 0 -150px; display:none; }

/* ===== HELP ==== */
#help {display:none;}
#help div {position:absolute; z-index:3090000;}
  #helptext {top:15px; left:25px; width:500px; height:500px; font:normal 15px/1.4 'extravaganzza', serif;}
  #helptext li {color:rgba(255,255,255,0.6); list-style:none outside;}
  #helpbg {width:100%; height:100%; background:#000; opacity:0.9;}
  #help1 {bottom:75px; left:195px;  width:404px; height:53px;  background:url('../images/help-1.png') no-repeat bottom left;}
  #help2 {bottom:75px; right:450px; width:272px; height:60px; background:url('../images/help-2.png') no-repeat bottom right;}
  #help3 {bottom:70px; right:9px; width:552px; height:103px; background:url('../images/help-3.png') no-repeat bottom right;}
  #help4 {bottom:50%; right:40px; width:134px; height:32px; background:url('../images/help-4.png') no-repeat top right;}


/* ===== TOOLTIP ==== */
#tooltip {position:absolute; text-align:right; z-index:4300000; border:1px solid #000; background:#020202; padding:8px 12px; color:#fff; display:none; }


/* ===== API ==== */
table.api_quide {margin:30px 0 0 0; width:920px; font-size:15px; }
table.api_quide td, table.api_quide th {padding:8px 0; border-bottom:1px solid #222; }
table.api_quide th {font-size:16px; }
table.api_quide td:first-child {width:250px;}
table.api_quide td {opacity:0.6; }

/* ===== INDEX PAGE ==== */
body.lng{font:normal 13px/1.5 "Lucida Grande", Arial,Helvetica,sans-serif; color:#999; overflow:visible; width:auto; height:auto;}
body.lng #seismilogo {margin-top:80px;}
body.lng p{margin:10px 0;}
body.lng h1{font:bold 18px/1.5 extravaganzza, Arial,Helvetica,sans-serif; color:#ccc; margin:0; letter-spacing:1.1;}
body.lng h2{font:normal 16px/1.5 extravaganzza, Arial,Helvetica,sans-serif; color:#fff;}
#launch img{margin:25px 0 10px 0;}
body.lng .disclaimer {margin-top:40px; font-size:12px;}
body.lng .date{color:#444;font-size:11px;font-style:italic;}

.buildwith {margin-top:20px;}
.paperjslogo {margin-top:10px;}
.share-buttons {overflow:hidden;margin-top:10px;}
.share-buttons:after {clear:both;}

.footer{text-align:center; padding:60px 0 20px 0; color:#333; font-size:12px;}
.footer a{color:#444;}
.footer a:hover{color:#666;}

#documentation h1{font:normal 24px/1.6 extravaganzzaBold, Arial,Helvetica,sans-serif; color:#205080;}
#documentation {padding:30px; background:rgba(0,0,0,0.7); margin:10px auto 50px auto; }

